<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
        <customErrors mode="On">
            <error statusCode="404" redirect="/404.html"/>
        </customErrors>
	</system.webServer>
</configuration>